@charset "utf-8";
/* CSS Document */


#cml tr { outline: thin solid;
}
#cml tr td {
  text-align: center;

 
}
.bld{ font-size:11px;}
#tbl4  td{ height:35px; border-collapse:collapse;   border:solid 3px red;   }

#tbl4{border-collapse:collapse;
}